img {
  max-width: 60%;
  height: auto;
}
.page-container {
  height: 100%;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
}
.nav-bar > .left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 10px;;
}

.nav-bar > .right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-left: 10px;;
}

.nav-bar > .left-nav div {
  padding: 10px;
  border: 1px solid transparent;
}

.nav-bar > .left-nav div:hover {
  cursor: pointer;
  border: 1px solid grey;
}

.nav-bar > .right-nav div:hover {
  cursor: pointer;
  border: 1px solid grey;
}

.nav-bar > .right-nav div {
  padding: 10px;
  border: 1px solid transparent;
}

.nav-bar > .right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-container > .about-me{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  margin-bottom: 20px;
}

.main-container > .about-me > .left-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container > .about-me > .left-about > .about-me-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.main-container > .about-me > .left-about > .about-me-photo > .about-me-tag{
 display: flex;
 justify-content: center;
}

.main-container > .about-me > .left-about > .about-me-photo > .image{
  display: flex;
  justify-content: center;
 }

.main-container > .about-me > .right-about {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.contact-section > .left-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section > .right-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  text-align: center;
  padding: 30px 0;
  color: black;
  background-color: white;
  width: 100%;
  box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
}

.footer:hover {
  opacity: 1;
}






