@media (max-width: 600px) {
  .main-container > .about-me {
    grid-template-columns: 1fr;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
  }
  .main-content > .images {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .main-content > .images {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 440px) {
  .nav-bar {
    display: flex;
    flex-direction: column;

  }
}