img {
  max-width: 90%;
  height: auto;
}
.page-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
}
.nav-bar > .left-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.nav-bar > .left-nav div {
  padding: 10px;
  border: 1px solid transparent;
}

.nav-bar > .left-nav div:hover {
  cursor: pointer;
  border: 1px solid grey;
}



.main-content > .images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 25px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  color: black;
  background-color: white;
  box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 4px 27px -5px rgba(0,0,0,0.75);
}

.footer:hover {
  opacity: 1;
}
